<section class="dashboard">
  <div class="panel">
    <h1 class="title">Dashboard</h1>
    <nav>
    <ul>
      <li><%= link_to "Research Themes", admin_research_themes_path %></li>
      <li><%= link_to "Research Projects", admin_research_projects_path %></li>
      <li><%= link_to "Researchers", admin_researchers_path %></li>
      <li><%= link_to "Courses", admin_courses_path %></li>
      <li><%= link_to "News Items", admin_news_items_path %></li>
      <li><%= link_to "Publications", admin_publications_path %></li>
    </ul>
    </nav>
  </div>
</section>
