<section>
  <article>
    <h1><%= @researcher.fullname %></h1>
    <%= image_tag @researcher.image.url %>
    <h2>Contact</h2>
    <p>
    <i class="fa fa-envelope"></i> <%= mail_to @researcher.email, @researcher.email %>
  <br />
  <% if @researcher.phone.present? %>
    <i class="fa fa-phone"></i> <%= @researcher.phone %><br />
  <% end %>
  <% if @researcher.address.present? %>
    <i class="fa fa-home"></i> <%= @researcher.address %>
  <% end %>
    </p>
    <p><%= sanitize @researcher.bio, tags: %w(strong i p h3 ul li) %></p>
    <% if @researcher.publications.any? %>
      <h2>Latest Publications</h2>
        <% @researcher.publications.latest.each do |publication| %>
          <p><%= sanitize publication.body, tags: %w(strong i) %>
              <% if publication.series.present? %>
                ( <%= publication.series %> )
              <% end %>
              <% if publication.documents.size > 0 %>
                (<%= link_to 'Download', publication_path(publication) %>)
              <% end %>
        </p>
        <% end %>
    <% end %>
    <% if @researcher.research_projects.any? %>
      <h2>Projects</h2>
      <ul>
        <% @researcher.research_projects.each do |project| %>
          <li><%= link_to project.title, research_project_path(project) %></li>
        <% end %>
      </ul>
    <% end %>
    <% if @researcher.courses.any? %>
      <h2>Courses</h2>
      <ul>
        <% @researcher.courses.each do |course| %>
          <li><%= course.title  %></li>
        <% end %>
      </ul>
    <% end %>
  </article>
</section>

