<section class="search">
  <h1>Search Results</h1>
  <% if @publications.size > 0 || @research_projects.size > 0 %>
    <p>The search '<strong><%= @search_term %></strong>' has <%= number_of_results %> results</p>
    <% if @publications.size > 0 %>
      <ul>
        <% @publications.each do |publication| %>
          <li>
          <%= link_to publication.try(:highlight).try(:title) ? publication.highlight.title[0].html_safe : publication.title,
          controller: "publications",
          id: publication._id %>
          <%= raw publication.try(:highlight).try(:reference) ? publication.highlight.reference[0].html_safe : publication.reference %>
          </li>
        <% end %>
      </ul>
    <% end %>
    <% if @research_projects.present? %>
      <ul>
        <% @research_projects.each do |project| %>
          <li>
          <%= link_to project.try(:highlight).try(:title) ? project.highlight.title[0].html_safe : project.title,
          controller: "research_projects",
          action: "show",
          id: project._id %>
          <p>
          <%= project.try(:highlight).try(:body) ? project.highlight.body[0].html_safe : project.body %>
          </p>
          </li>
        <% end %>
      </ul>
    <% end %>
  <% else %>
    <p>The search '<%= @search_term %>' has no results</p>
  <% end %>
</section>
