<%= form_for [:admin, @research_project], html: { multipart: true }  do |f| %>
  <fieldset>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <div>
    <% if @research_project.image %>
      <%= image_tag @research_project.image.url %>
    <% end %>
    <%= f.label :image %>
    <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png' %>
  </div>
  <div>
     <%= f.label "Research Themes" %>
     <%= f.collection_check_boxes :research_theme_ids, ResearchTheme.all, :id, :title do |b| %>
       <%= b.label() { b.check_box + b.text } %>
     <% end %>
  </div>
  <% if @research_project.new_record? %>
    <%= f.button "Add Research Project", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Adding Research Project ..." } %>
  <% else %>
    <%= f.button "Update Research Project", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Updating Research Project ..." } %>
  <% end %>
  <%= link_to 'Cancel', admin_research_projects_path %>
</fieldset>
<% end %>
