<%= form_for [:admin, @research_project] do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <div>
     <%= f.collection_check_boxes :research_theme_ids, ResearchTheme.all, :id, :title %>
  </div>
  <% if @research_project.new_record? %>
    <%= f.submit "Add Research Project" %>
  <% else %>
    <%= f.submit "Update Research Project" %>
  <% end %>
<% end %>
