<%= form_for [:admin, @research_project], html: { id: "research-project-form", multipart: true }  do |f| %>
  <fieldset>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <div>
    <% if @research_project.image.present? %>
      <%= image_tag @research_project.image.url %>
      <%= f.check_box :remove_image %>
      remove image
    <% end %>
    <%= f.label :image %>
    <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png' %>
  </div>
  <div>
     <%= f.label "Research Themes" %>
     <%= f.collection_check_boxes :research_theme_ids, ResearchTheme.all, :id, :title do |b| %>
       <%= b.label() { b.check_box + b.text } %>
     <% end %>
  </div>
  <% if @research_project.new_record? %>
    <%= f.button "Add Research Project", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Adding Research Project ..." } %>
  <% else %>
    <%= f.button "Update Research Project", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Updating Research Project ..." } %>
  <% end %>
  <%= link_to 'Cancel', admin_research_projects_path %>
</fieldset>
<% end %>

<% content_for :javascript do %>
  <script>
    $(function() {
          $("#research-project-form").validate({
            debug: false,
            onfocusout: true,
            rules: {
              "research_project[title]": { required: true},
              "research_project[body]": { required: true}
            },
            messages: {
              "research_project[title]": { required: "Title is required!" },
              "research_project[body]": { required: "Body is required!"}
            },
            onfocusout: function (element) {
              this.element(element);
            },
            onkeyup: function (element, event) {
              this.element(element);
            },
            errorClass: 'error'
        });
      });
  </script>
<% end %>
