<% breadcrumb :research_projects %>

<h1>Research Projects</h1>
<%= button_to "Add Research Project", new_admin_research_project_path, method: "get" %>
<table class="table-borders">
  <tbody>
    <% if @research_projects.count != 0 %>
      <% @research_projects.each do |project| %>
        <tr>
          <td><%= link_to project.title, admin_research_project_path(project) %></td>
          <td><%= link_to "Edit", edit_admin_research_project_path(project) %>&nbsp;&nbsp;<%= link_to "Delete", admin_research_project_path(project), method: :delete, data: { confirm: "Are you sure?" } %>&nbsp;&nbsp;
            <%= link_to toggle_active(project), close_admin_research_project_path(project), method: :patch, remote: true, id: dom_id(project) %>
      </td>

      </tr>
      <% end %>
    <% else %>
      <p class="no-items">There are no research projects. Click 'Add Research Project' to create one.</p>     
    <% end %>
  </tbody>
</table>
