<%= render layout: 'admin/dashboard' do %>
<p><%= link_to "Research Projects", admin_research_projects_path %></p>
<h1><%= @research_project.title %></h1>
<div>
  <p><strong>Bodytext</strong></p>
  <%= @research_project.body %>
</div>
<div>
  <p><strong>Image</strong></p>
  <%= image_tag @research_project.image.url %>
</div>
<p><strong>Research Themes</strong></p>
<ul>
  <% @research_project.research_themes.each do |theme| %>
    <li><%= link_to theme.title, admin_research_theme_path(theme) %></li>
  <% end %>
</ul>
<p><strong>Researchers</strong></p>
<ul>
  <% @research_project.researchers.each do |researcher| %>
    <li><%= link_to researcher.name, admin_researcher_path(researcher) %></li>
  <% end %>
</ul>
<% end %>
