<p><%= link_to "Research Projects", admin_research_projects_path %></p>
<h1><%= @research_project.title %></h1>
<div>
  <%= @research_project.body %>
</div>
<div>
  <%= image_tag @research_project.image.url %>
</div>
<h2>Research Themes</h2>
<ul>
  <% @research_project.research_themes.each do |theme| %>
    <li><%= theme.title %></li>
  <% end %>
</ul>
