<section class="publications">
    <div class="documents">
      <h1>POS+ Publication Series Archive</h1>
      <h2><%= @year %></h2>
      <% if @archived_publications.any? { |p| p.category.name == "working_paper" } %>
      <section class="series">
        <h2>Working Papers</h2>
        <ul>
          <% @archived_publications.each do |publication| %>
            <% if publication.category.name == "working_paper" %>
              <li><%= sanitize publication.body, tags: %w(strong i) %>
              <% if publication.series.present? %>
                ( <%= publication.series %> )
              <% end %>
              <% if publication.documents.size > 0 %>
                (<%= link_to 'Download', publication_path(publication) %>)
              <% end %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </section>
      <% end %>
      <% if @archived_publications.any? { |p| p.category.name == "technical report"  } %>
        <section class="series">
          <h2>Technical Reports</h2>
          <ul>
            <% @archived_publications.each do |publication| %>
              <% if publication.category.name == "technical report" %>
                <li><%= sanitize publication.body, tags: %w(strong i) %>
                <% if publication.series.present? %>
                  ( <%= publication.series %> )
                <% end %>

                <% if publication.documents.size > 0 %>
                  (<%= link_to 'Download', publication_path(publication) %>)
                <% end %>
  </li>
              <% end %>
            <% end %>
          </ul>
        </section>
      <% end %>
    </div>
    <aside class="archive">
      <ul>
      <h2>Archive</h2>
      <% @publications_year.sort.reverse.each do |year, pubs| %>
        <li><i class="fa fa-folder left"></i><%= link_to year, archive_path(year) %></a>
      </li>
      <% end %>
      </ul>
    </aside>
</section>
<script>
$(document).ready(function () {
  $('.documents, .archive').matchHeight();
});
</script>


