<% breadcrumb :publication_series %>
<section class="publications">
    <div class="documents">
      <h1>POS+ Publication Series</h1>
      <section class="series">
        <h2>Working Papers</h2>
        <ul>
          <% @current_publications.order('series ASC').each do |publication| %>
            <% if publication.category.name == "working_paper" %>
              <li><%= sanitize publication.body, tags: %w(strong i) %>
              <% if publication.series.present? %>
                ( <%= publication.series %> )
              <% end %>
              <% if publication.documents.size > 0 %>
                <%= link_to 'Download', publication_path(publication) %>
              <% end %>
            </li>
            <% end %>
          <% end %>
        </ul>
      </section>
      <section class="series">
        <h2>Technical Reports</h2>
        <ul>
          <% @current_publications.order('series ASC').each do |publication| %>
            <% if publication.category.name == "technical report" %>
              <li><%= sanitize publication.body, tags: %w(strong i) %>
              <% if publication.series.present? %>
                ( <%= publication.series %> )
              <% end %>
              <% if publication.documents.size > 0 %>
                (<%= link_to 'Download', publication_path(publication) %>)
              <% end %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </section>
    </div>
    <aside class="archive">
      <ul>
      <h2>Archive</h2>
      <% @publications_year.each do |year, pubs| %>
        <li><i class="fa fa-folder left"></i><%= link_to year, archive_path(year) %></a>
      </li>
      <% end %>
      </ul>
    </aside>
</section>

<% content_for :javascript do %>
  <script>
  $(document).ready(function () {
    $('.documents, .archive').matchHeight();
  });
  </script>
<% end %>
