<%= form_for [:admin, @researcher], html: { id: "researcher-form", multipart: true } do |f| %>
  <fieldset>
  <div>
    <%= f.label :active %>
    <%= f.check_box :active %>
  </div>
  <div>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  <div>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :bio %>
    <%= f.text_area :bio, size: "20x10" %>
  </div>
  <div>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <div>
    <%= f.label :phone %>
    <%= f.text_field :phone, class: "phone" %>
  </div>
  <div>
    <%= f.label :address %>
    <%= f.text_area :address, size: "20x3" %>
  </div>
  <div>
    <% if @researcher.image %>
      <%= image_tag @researcher.image.url(:thumb) %>
    <% end %>
    <%= f.label :image %>
    <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png' %>
  </div>
  <div>
    <%= f.label :bibliography %>
    <%= f.text_field :bibliography %>
  </div>
  <div>
     <%= f.label "Courses" %> 
     <%= f.collection_check_boxes :course_ids, Course.all, :id, :title do |b| %>
       <%= b.label() { b.check_box + b.text } %>
     <% end %>
  </div>
  <div>
     <%= f.label "Research Projects" %>
     <%= f.collection_check_boxes :research_project_ids, ResearchProject.all, :id, :title do |b| %>
       <%= b.label() { b.check_box + b.text } %>
     <% end %>
  </div>
  <% if @researcher.new_record? %>
    <%= f.button "Add Researcher", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Adding Researcher ..." } %>
  <% else %>
    <%= f.button "Update Researcher", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Updating Researcher ..." } %>
  <% end %>
  <%= link_to 'Cancel', admin_researchers_path, class: "cancel" %>
</fieldset>
<% end %>


<% content_for :javascript do %>
  <script>
    $(function() {
          $("#researcher-form").validate({
            debug: false,
            onfocusout: true,
            rules: {
              "researcher[title]": { maxlength: 30 },
              "researcher[first_name]": {required: true},
              "researcher[last_name]": { required: true},
              "researcher[email]": {required: true, email: true}
            },
            messages: {
              "researcher[title]": { maxlength: "Title can not be longer then 30 characters!" },
              "researcher[first_name]": { required: "First name is required!" },
              "researcher[last_name]": { required: "Last name is required!" },
              "researcher[email]": {
              required: "Email is required!",
              email: "Your email address must be in the format of name@domain.com"
              }
            },
            onfocusout: function (element) {
              this.element(element);
            },
            onkeyup: function (element, event) {
              this.element(element);
            },
            errorClass: 'error'
        });
        $('#researcher_bio').editable({
          inlineMode: false,

          // Set custom buttons with separator between them. Also include the name
          // of the buttons  defined in customButtons.
          buttons: ['bold', 'italic', 'insertUnorderedList', 'formatBlock', 'undo', 'redo', 'html'],
          blockTags: ['h3']
        })
      });
  </script>
<% end %>
