<% breadcrumb :researcher, @researcher %>
<div class="panel">
  <div class="content">
  <h1><%= @researcher.fullname %></h1>
  <p><%= sanitize @researcher.bio, tags: %w(strong i p h3 ul li) %></p>
  <p><%= mail_to @researcher.email %></p>
  <section>
    <h3>Courses</h3>
    <ul>
      <% @researcher.courses.each do |course| %>
        <li><%= link_to course.title, admin_course_path(course) %></li>
      <% end %>
    </ul>
  </section>
  <section>
    <h3>Research Projects</h3>
    <ul>
      <% @researcher.research_projects.each do |project| %>
        <li><%= link_to project.title, admin_research_project_path(project) %></li>
      <% end %>
    </ul>
  </section>
</div>
  <p><%= image_tag @researcher.image.url %>
</div>
