<%= form_for [:admin, @news_item], html: { id: "news-item-form", multipart: true }  do |f| %>
  <fieldset>
    <div>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div>
      <%= f.label :body %>
      <%= f.text_area :body %>
    </div>
    <div>
      <% if @news_item.image.present? %>
        <%= image_tag @news_item.image.url %>
        <%= f.check_box :remove_image %>
        remove image
      <% end %>
      <%= f.label :image %>
      <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png' %>
    </div>
    <div>
      <% if @news_item.document.present? %>
        <%= link_to File.basename(@news_item.document.url), @news_item.document.url %>
      <% end %>
      <%= f.label :document %>
      <%= f.file_field :document %>
    </div>
    <div>
      <%= f.label :link %>
      <%= f.text_field :link %>
    </div>
    <% if @news_item.new_record? %>
      <%= f.button "Add News Item", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Adding News Item ..." } %>
    <% else %>
      <%= f.button "Update News Item", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Updating News Item ..." } %>
    <% end %>
    <%= link_to 'Cancel', admin_news_items_path %>
  </fieldset>
<% end %>

<% content_for :javascript do %>
  <script>
    $(function() {
          $("#news-item-form").validate({
            debug: false,
            onfocusout: true,
            rules: {
              "news_item[title]": { required: true},
              "news_item[body]": { required: true},
              "news_item[link]": { url: true }
            },
            messages: {
              "news_item[title]": { required: "Title is required!" },
              "news_item[body]": { required: "Body is required!"},
              "news_item[link]": { url: "This is not a valid link" }
            },
            onfocusout: function (element) {
              this.element(element);
            },
            onkeyup: function (element, event) {
              this.element(element);
            },
            errorClass: 'error'
        });
      });
  </script>
<% end %>
