<section class="home">
  <div class="hero block">
    <div class="hero-inner">
      <div class="hero-copy">
        <h1>POS+ Participation, Opportunities, Structures</h1>
        <p>A few reasons why this product is worth using, who is it for and why do they need it.</p>	
      </div>
      <form action="pages/about" method="get">
      <button>Learn More</button>
    </form>
    </div>
  </div>
  <div class="news block">
    <div class="news-inner">
      <h2>News</h2>
      <%= render partial: "newsitem", collection: @newsitems %>
    </div>
  </div>
  <div class="research">
  <div class="bullets">
    <div class="bullet">
      <div class="bullet-icon bullet-icon-1">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png
  " alt="">
      </div>
      <div class="bullet-content">
        <h2>Research Themes</h2>
        <%= render partial: "researchtheme", collection: @researchthemes %>
      </div>
    </div>  
        
    <div class="bullet">
      <div class="bullet-icon bullet-icon-2">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png" alt="">
      </div>
      <% @features.each do |feature| %>
        <% cache(feature) do %>
          <div class="bullet-content">
            <h2><%= link_to feature.title, feature_path(feature) %></h2>
            <p><%= feature.body %></p>
            <% if feature.image.present? %>
              <%= image_tag feature.image.url(:thumb) %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  </div>
</section>

<% content_for :javascript do %>
  <script>
  $(document).ready(function () {
    $('.bullet').matchHeight();
    $('.block').matchHeight();
  });
  </script>
<% end %>
