<%= form_for [:admin, @research_theme], html: { id: "research-theme-form", multipart: true }  do |f| %>
  <fieldset>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description, size: "20x10" %>
  </div>
  <div>
    <% if @research_theme.image.present? %>
      <%= image_tag @research_theme.image.url %>
      <%= f.check_box :remove_image %>
      remove image
    <% end %>
    <%= f.label :image %>
    <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png' %>
  </div>
  <% if @research_theme.new_record? %>
    <%= f.button "Add Research Theme", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Adding Research Theme ..." } %>
  <% else %>
    <%= f.button "Update Research Theme", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Updating Research Theme ..." } %>
  <% end %>
  <%= link_to 'Cancel', admin_research_themes_path, class: "cancel" %>
  </fieldset>
<% end %>


<% content_for :javascript do %>
  <script>
    $(function() {
          $("#research-theme-form").validate({
            debug: false,
            onfocusout: true,
            rules: {
              "research_theme[title]": { required: true},
              "research_theme[description]": { required: true}
            },
            messages: {
              "research_theme[title]": { required: "Title is required!" },
              "research_theme[description]": { required: "Description is required!"}
            },
            onfocusout: function (element) {
              this.element(element);
            },
            onkeyup: function (element, event) {
              this.element(element);
            },
            errorClass: 'error'
        });
      });
  </script>
<% end %>
