<%= form_for [:admin, @research_theme], html: { multipart: true }  do |f| %>
  <fieldset>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description, size: "20x10" %>
  </div>
  <div>
    <% if @research_theme.image %>
      <%= image_tag @research_theme.image.url %>
    <% end %>
    <%= f.label :image %>
    <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png' %>
  </div>
  <% if @research_theme.new_record? %>
    <%= f.button "Add Research Theme", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Adding Research Theme ..." } %>
  <% else %>
    <%= f.button "Update Research Theme", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Updating Research Theme ..." } %>
  <% end %>
  <%= link_to 'Cancel', admin_research_themes_path, class: "cancel" %>
  </fieldset>
<% end %>
