<%= form_for [:admin, @research_theme] do |f| %>
  <fieldset>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <% if @research_theme.new_record? %>
    <%= f.submit "Add Research Theme" %>
  <% else %>
    <%= f.submit "Update Research Theme" %>
  <% end %>
  </fieldset>
<% end %>
