<%= form_for [:admin, @publication] do |f| %>
  <fieldset>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :year %>
    <%= f.text_field :year, maxlength: 4, class: "year" %>
  </div>
  <div>
    <%= f.label :category_id %>
    <%= f.select :category_id, options_for_categories, label: "Category" %>
  </div>
  <div>
    <%= f.label :series %>
    <%= f.text_field :series, maxlength: 4, class: "series" %>
  </div>
  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <h3>Researchers</h3>
     <%= f.collection_check_boxes :researcher_ids, Researcher.all, :id, :name do |b| %>
       <%= b.label() { b.check_box + b.text } %>
     <% end %>
  <div>
  </div>
  <h3>Research Projects</h3>
  <div>
     <%= f.collection_check_boxes :research_project_ids, ResearchProject.all, :id, :title do |b| %>
       <%= b.label() { b.check_box + b.text } %>
     <% end %>
  </div>
  <% if @publication.new_record? %>
    <%= f.button "Add Publication", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Adding Publication ..." } %>
  <% else %>
    <%= f.button "Update Publication", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Updating Publication ..." } %>
  <% end %>
  <%= link_to 'Cancel', admin_publications_path %>
</fieldset>
<% end %>

<% content_for :javascript do %>
  <script>
      $(function() {
        $('#publication_body').editable({
          inlineMode: false,

          // Set custom buttons with separator between them. Also include the name
          // of the buttons  defined in customButtons.
              buttons: ['bold', 'italic']
        })
      });
  </script>
<% end %>
