<%= form_for [:admin, @publication] do |f| %>
  <fieldset>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :reference %>
    <%= f.text_area :reference %>
  </div>
  <div>
     <h3>Research Projects</h3>
     <%= f.collection_check_boxes :research_project_ids, ResearchProject.all, :id, :title do |b| %>
       <%= b.label() { b.check_box + b.text } %>
     <% end %>
  </div>
  <% if @publication.new_record? %>
    <%= f.button "Add Publication", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Adding Publication ..." } %>
  <% else %>
    <%= f.button "Update Publication", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Updating Publication ..." } %>
  <% end %>
  <%= link_to 'Cancel', admin_publications_path %>
</fieldset>
<% end %>

<script>
    $(function() {
      $('#publication_reference').editable({
        inlineMode: false,

        // Set custom buttons with separator between them. Also include the name
        // of the buttons  defined in customButtons.
            buttons: ['bold', 'italic']
      })
    });
</script>
