<%= form_for [:admin, @publication] do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :reference %>
    <%= f.text_area :reference %>
  </div>
  <%= f.submit "Add Publication" %>
<% end %>
