<section class="project">
  <article class="project">
    <h1><%= @research_project.title %></h1>
    <%= image_tag @research_project.image.url %>
    <p><%= @research_project.body %></p> 
    <% if @research_project.researchers.any? %>
      <div class="researchers">
        <h2>Researchers</h2>
        <ul>
          <% @research_project.researchers.each do |researcher| %>
            <li><i class="fa fa-user"></i><%= link_to researcher.name, person_path(researcher) %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <% if @research_project.publications.any? %>
      <div class="researchers">
        <h2>Publications</h2>
        <ul>
          <% @research_project.publications.each do |publication| %>
            <% if publication.visible? %>
              <li><i class="fa fa-book"></i><%= sanitize publication.body, tags: %w(em b strong) %></li>
            <% end %>
          <% end %>
        </ul>
     </div>
    <% end %>
</article>
</section>

