<section class="research-theme">
  <div class="theme">
    <h1>Research Theme 1</h1>
    <p><%= @research_theme.description %></p>
    <section class="projects">
    <h2>Projects</h2>
    <ul class="accordion-tabs-minimal">
      <li class="tab-header-and-content">
        <a href="#" class="tab-link is-active">Current</a>
        <div class="tab-content">
          <% @research_theme.research_projects.each do |project| %>
            <% if project.active? %>
            <div class="project">
              <p><%= link_to project.title, research_project_path(project) %><br />
              <%= project.body %>
              </p>
            </div>
            <% end %>
          <% end %>
        </div>
      </li>
      <li class="tab-header-and-content">
        <a href="#" class="tab-link">Past</a>
        <div class="tab-content">
          <% @research_theme.research_projects.each do |project| %>
            <% if !project.active? %>
            <div class="project">
              <p><%= link_to project.title, research_project_path(project) %><br />
              <%= project.body %>
              </p>
            </div>
            <% end %>
          <% end %>
        </div>
      </li>
    </ul>
  </section>
  </div>
  <aside>
    <%= image_tag @research_theme.image.url %>
    <h2><%= link_to "Data", documents_path %>&nbsp;&nbsp;<i class="fa fa-download"></i></h2>
  </aside>
</section>
<script>
$(document).ready(function () {
  $('.accordion-tabs-minimal').each(function(index) {
    $(this).children('li').first().children('a').addClass('is-active').next().addClass('is-open').show();
  });

  $('.accordion-tabs-minimal').on('click', 'li > a', function(event) {
    if (!$(this).hasClass('is-active')) {
      event.preventDefault();
      var accordionTabs = $(this).closest('.accordion-tabs-minimal')
      accordionTabs.find('.is-open').removeClass('is-open').hide();

      $(this).next().toggleClass('is-open').toggle();
      accordionTabs.find('.is-active').removeClass('is-active');
      $(this).addClass('is-active');
    } else {
      event.preventDefault();
    }
  });
});
</script>

