<%= form_for [:admin, @course], html: { id: "course-form" } do |f| %>
  <fieldset>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <% if @course.new_record? %>
    <%= f.button "Add Course", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Adding Course ..." } %>
  <% else %>
    <%= f.button "Update Course", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Updating Course ..." } %>
  <% end %>
  <%= link_to 'Cancel', admin_courses_path %>
  </field>
<% end %>

<% content_for :javascript do %>
  <script>
    $(function() {
          $("#course-form").validate({
            debug: false,
            onfocusout: true,
            rules: {
              "course[title]": { required: true}
            },
            messages: {
              "course[title]": { required: "Title is required!" },
            },
            onfocusout: function (element) {
              this.element(element);
            },
            onkeyup: function (element, event) {
              this.element(element);
            },
            errorClass: 'error'
        });
      });
  </script>
<% end %>
