<%= form_for [:admin, @course] do |f| %>
  <fieldset>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <% if @course.new_record? %>
    <%= f.button "Add Course", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Adding Course ..." } %>
  <% else %>
    <%= f.button "Update Course", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Updating Course ..." } %>
  <% end %>
  <%= link_to 'Cancel', admin_courses_path %>
  </field>
<% end %>
