<!DOCTYPE html>
<html>
<head>
  <title>Posplus</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <%= yield(:meta) %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
    <link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700'
  rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    
  
</head>
<body>
<div id="main" role="main">
  <%= render "shared/header" %>
  <%= render "shared/messages" %>
  <%= yield %>
  <div class="push"></div>
</div>
<%= render "shared/footer" %>
<%= yield(:javascript) %>
<script>
$(document).ready(function() {
  var menuToggle = $('#js-mobile-menu').unbind();
  $('navigation-menu').removeClass("show");

  menuToggle.on('click', function(e) {
    e.preventDefault();
    $('#navigation-menu').slideToggle(function(){
      if($('#navigation-menu').is(':hidden')) {
        $('navigation-menu').removeAttr('style');
      }
    });
  });
});
</script>
</body>
</html>
